.input-bar {
  background-color: black;
  height: 40px;
  width: 500px;
  color: white;
  font-size: large;
  border: none;
}

.search-button {
  background-color: rgb(85, 85, 85);
  color: white;
  border: none;
  width: 60px;
}

.youtube-logo {
  width: 150px;
}

.appbar {
  height: 65px;
}