.input-bar {
  position: relative;
  top: 5px;
  background-color: black;
  height: 40px;
  width: 500px;
  color: white;
  font-size: large;
  border: none;
}

.search-button {
  position: relative;
  top: 10px;
  background-color: rgb(85, 85, 85);
  color: white;
  border: none;
  height: 40px;
  width: 60px;
}


.youtube-logo {
  width: 120px;
  position: relative;
  top: -10px;
  left: 60px;
}

.appbar {
  height: 65px;
}



.sidebar {
  position: fixed;
  width: 55px;
  height: 100%;
  background-color: rgb(41, 41, 41);
}

.MenuIcon{
  // position: relative;
  // top: -45px;
  // left: 10px
}

.MuiButton-root {
  border-radius: 8px;
} 